html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  margin-bottom: 59px;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-functions {
  width: 100%;
  margin-bottom: 46px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-functions .container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.logo {
  display: block;
  width: 220px;
  height: 42px;
  padding: 11px 56px 13px 55px;

  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.site-functions-link {
  display: block;
  width: 150px;
  padding: 12px 22px 12px 20px;

  text-align: center;
}

.site-functions-link:hover,
.site-functions-link:focus {
  background-color: #212a3a;
}

.site-functions-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.site-functions .order-link {
  background-color: #63a63e;
}

.site-functions .order-link:hover,
.site-functions .order-link:focus {
  background-color: #5fbb2d;
}

.site-functions .order-link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.cart-link {
  position: relative;

  padding-left: 50px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart-link:hover::before,
.cart-link:focus::before {
  opacity: 1;

}

.cart-link:active::before {
  opacity: 0.5;
}

.cart-link.cart-not-empty {
  background-color: #ee3643;
}

.favorites-link {
  position: relative;

  padding-left: 44px;
}

.favorites-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.favorites-link:hover::before,
.favorites-link:focus::before {
  opacity: 1;

}

.favorites-link:active::before {
  opacity: 0.5;
}

.site-search {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  width: 260px;
  height: 100%;
}

.search-input {
  width: 100%;
  padding: 11px 22px 12px 49px;

  color: #ffffff;

  background-color: #293449;
  border: 0;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
}

.search-icon path {
  opacity: 0.3;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:hover ~ .search-icon path {
  opacity: 1;
}

.search-input:focus ~ .search-icon path,
.search-input:active ~ .search-icon path {
  opacity: 1;
  fill: #ee3643;
}

.search-input:focus,
.search-input:active {
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-wrapper {
  display: flex;
  align-items: baseline;
  width: 940px;
  padding-left: 52px;
  margin-bottom: 44px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.user-navigation.logged-out a {
  margin-left: 10px;
}

.user-navigation a {
  display: block;
  
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link {
  position: relative;

  padding: 12px 26px 12px 47px;
}

.icon-login {
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;
}

.registration-link {
  padding: 12px 25px;
}

.login-link:hover .icon-login path,
.login-link:focus .icon-login path {
  fill: #32425c;
}

.login-link:active .icon-login path {
  fill: #c5c5c5;
}

.user-navigation.logged-in {
  flex-direction: column;
}

.user-navigation-profile {
  display: flex;
  align-items: stretch;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}

.user-navigation-profile li {
  background-color: #ffffff;
}

.user-profile-link {
  position: relative;

  margin: 0;
  padding: 12px 26px 12px 47px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-profile-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.icon-user {
  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;
}

.user-profile-link:hover .icon-user path,
.user-profile-link:focus .icon-user path {
  fill: #32425c;
}

.user-profile-link:active .icon-user path {
  fill: #c5c5c5;
}

.logout-link {
  padding: 14px 10px 10px 10px;
}

.icon-logout {
  width: 21px;
  height: 17px;
}

.logout-link:hover .icon-logout path,
.logout-link:focus .icon-logout path {
  fill: #32425c;
}

.logout-link:active .icon-logout path {
  fill: #c5c5c5;
}

.user-navigation-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation-links a {
  position: relative;

  padding-left: 17px;
  margin-right: 15px;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  background-color: transparent;
}

.user-navigation-links a::before {
  content: "";

  position: absolute;
  left: 0;
  top: 8px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-navigation-links li:first-child a::before {
  display: none;
}

.user-navigation-links a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-header-message {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 70px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.main-header-contacts {
  width: 270px;
  margin: 0;
}

.main-header-contacts .phone {
  position: relative;
  display: block;
  
  margin: 0;
  margin-bottom: 8px;
  padding: 10px 50px 10px 70px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: solid 3px #ffffff;
}

.main-header-contacts .phone::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-contacts .address {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.site-navigation {
  order: 3; 
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0 25px 0 22px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  list-style: none;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a {
  display: block;
  padding: 20px 30px 23px 30px;
}

.site-navigation a,
.site-functions a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.button {
  display: inline-block;
  padding: 10px 35px;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: 0;
  border-radius: 2px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.page-title {
  margin: 0;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.subtitle {
  color: #000000;
}

.slide-title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.main-heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 13px 30px 45px 30px;

  background-color: #f4f7f9;
}

.promo {
  margin-bottom: 53px;
}

.promo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  min-height: 409px;

  list-style: none;
}

.promo-item {
  width: 300px;
  height: 123px;
  padding: 22px;

  color: #ffffff;
}

.promo-item:not(:last-child) {
  margin-bottom: 20px;
}

.promo-item.promo-delivery {
  margin-left: auto;
}

.promo-title {
  margin: 0;
  margin-bottom: 11px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-button {
  width: 135px;
  margin-left: 3px;
  padding: 10px 20px;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-matherials {
  background-color: #ffbf47;
  background-image: url("../img/icon-matherials.svg");
  background-repeat: no-repeat;
  background-position: right 43px top 31px;
}

.promo-tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: right 28px top 33px;
}

.promo-equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-equipment.svg");
  background-repeat: no-repeat;
  background-position: right 31px top 31px;
}

.promo-sale {
  background-color: #8ed78f;
  background-image: url("../img/icon-sale.svg");
  background-repeat: no-repeat;
  background-position: right 45px top 26px;
}

.promo-delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-shipping.svg");
  background-repeat: no-repeat;
  background-position: right 31px top 32px;
}

.promo-item.slider {
  position: relative;
  width: 620px;
  padding: 0;
}

.promo-slider {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-button {
  position: absolute;
  top: 114px;

  display: block;
  width: 44px;
  height: 40px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.promo-slider-button:hover,
.promo-slider-button:focus {
  opacity: 0.7;
}

.promo-slider-button:active{
  opacity: 0.1;
}

.slider-button-back {
  left: 14px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 11px 0;
  background-size: 22px 40px;
}

.slider-button-next {
  right: 9px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 11px 0;
  background-size: 22px 40px;
}

.promo-slide {
  display: none;
  min-height: 266px;
  padding: 22px 24px;

  color: #ffffff;
}

.promo-slide .slide-title {
  margin-bottom: 4px;
}

.promo-slide-description {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.promo-slide .button {
  width: 195px;
  margin-top: auto;
}

.promo-slide.perforators {
  background-color: #6e6b68;
  background-image: url("../img/slider-perforator.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.promo-slide.drills {
  background-color: #6e6b68;
  background-image: url("../img/slider-drill.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.promo-slide.slide-active {
  display: flex;
  flex-direction: column;
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px 24px 26px 30px;

  background-color: #f9f5f0;
}

.heading-wrapper .button {
  width: 253px;
}

.popular-goods {
  margin-bottom: 21px;
}

.button-show-all {
  width: 253px;
  flex-shrink: 0;
}

.popular-goods-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-brands {
  margin-bottom: 65px;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-brands-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-brands-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;

  border: solid 1px #e5e5e5;
}

.popular-brands-item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands-item:hover,
.popular-brands-item:focus {
  border: 0;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active img {
  opacity: 0.3;
}

.services {
  width: 100%;
  padding-top: 63px;

  background-color: #f4f7f9;
}

.services .subtitle {
  margin-bottom: 28px;
}

.services-slider {
  display: flex;
  min-height: 279px;
  width: 100%;

  align-items: stretch;
}

.services .slider-controls,
.services .slides-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services .slider-controls {
  width: 240px;
  margin: 46px 0;
}

.services-slider .slider-button {
  padding: 16px 22px;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 
    inset 0px -1px 0 0 #293449, 
    inset 0px 1px 0 0 #405069;

  cursor: pointer;
}

.services-slider .slides-list {
  position: relative;

  width: 700px;
}

.services-slider .slides-list::before {
  content: "";

  position: absolute;
  top: 0;
  left: -10px;

  width: 10px;
  height: 279px;

  background-image: url("../img/slider-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slider .slider-button:hover,
.services-slider .slider-button:focus {
  background-color: #293449;
}

.services-slider .slider-button:active,
.services-slider .slider-button-active,
.services-slider .slider-button-active:hover,
.services-slider .slider-button-active:focus {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;

  cursor: default;
}

.services-description,
.slide-description {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

.services-description {
  width: 400px;
  margin-bottom: 20px;
}

.services-slide {
  display: none;

  padding: 48px 0px 115px 80px;
}

.services-slide.slide-active {
  display: block;
}

.services-slide .slide-title {
  margin-bottom: 26px;

  font-weight: 400;
  color: #32425c;
}

.slide-description {
  width: 375px;
  
  margin-bottom: 23px;
}

.services-slide .button {
  width: 195px;
}

.services-slide.delivery {
  background-image: url("../img/services-delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 75px;
  background-size: 468px 261px;
}

.services-slide.guarantee {
  background-image: url("../img/services-guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 389px 283px;
}

.services-slide.credit {
  background-image: url("../img/services-credit.png");
  background-repeat: no-repeat;
  background-position: 100% 21px;
  background-size: 465px 285px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 77px;
  padding-bottom: 16px;
}

.index-columns .subtitle {
  margin-bottom: 28px;
}

.index-columns p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

.about-us {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.about-us p {
  margin-bottom: 24px;
}

.delivery-info p {
  margin-bottom: 21px;
}

.transport-companies-list {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.transport-company-item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 36px;
}

.transport-company-item:last-child {
  margin-bottom: 35px;
}

.transport-company-item::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.about-us .button {
  width: 220px;
  margin-top: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contacts p {
  margin: 0;
  margin-bottom: 30px;
}

.map {
  width: 300px;
  height: 158px;

  background-color: #eeeae3;
}

.contacts .button {
  margin-top: auto;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 15px;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 23px;
}

.breadcrumbs-item:not(:first-child)::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ee3643;
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3)
}

.breadcrumbs .breadcrumbs-current:hover,
.breadcrumbs .breadcrumbs-current:focus,
.breadcrumbs .breadcrumbs-current:active {
  color: #000000;
}

.breadcrumbs-home:hover .icon-home path,
.breadcrumbs-home:focus .icon-home path {
  fill: #ee3643;
}

.breadcrumbs-home:active .icon-home path {
  fill: rgba(0, 0, 0, 0.3);
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-filter {
  width: 220px;

  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-filter h2,
.sort h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.catalog-filter h2 {
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 18px;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  border: 0;
}

.filter fieldset:last-of-type {
  margin-bottom: 50px;
}

.filter legend {
  margin-bottom: 14px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-option {
  margin: 0;
  margin-bottom: 25px;
}

.filter-option label {
  display: block;
  position: relative;

  padding: 3px 10px 3px 34px;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.5;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.5;
}

.filter-input-radio + label {
  padding-top: 4px;
  padding-bottom: 4px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;

  top: 2px;
  left: 0;

  width: 25px;
  height: 25px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-checkbox:not(:disabled):hover + label::before,
.filter-input-checkbox:not(:disabled):focus + label::before,
.filter-input-checkbox:not(:disabled):hover + label::after,
.filter-input-checkbox:not(:disabled):focus + label::after {
  opacity: 1;
}

.filter-input-radio:not(:disabled):hover + label::before,
.filter-input-radio:not(:disabled):focus + label::before {
  border-color: #b5b5b5;
}

.filter-input-radio:not(:disabled):hover + label::after,
.filter-input-radio:not(:disabled):focus + label::after {
  background-color:#b5b5b5;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.price-filter {
  padding-bottom: 25px;

  border-bottom: 1px solid #e5e5e5;

}

.price-range,
.price-controls input {
  background-color: #f7f3ec;
  border-radius: 2px;
}

.price-range {
  position: relative;

  padding: 39px 20px;
  margin-bottom: 9px;
}

.price-range .scale {
  height: 2px;

  background-color: #d7dcde;
}

.price-range .bar {
  width: 84%;
  height: 2px;

  background-color: #00ca74;
}

.price-range .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  box-sizing: content-box;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #ababab;
  border-radius: 50%;

  cursor: pointer;
}

.price-range .toggle-min {
  left: 20px;
}

.price-range .toggle-max {
  left: 160px;
}

.price-range .toggle:active {
  background-color: #ee3643;
}

.price-controls {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  padding-left: 25px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 10px;
  height: 1px;
  
  background-color: #444444;
  transform: translate(-50%, -50%);
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.filter-button {
  width: 140px;
  padding: 9px 15px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  padding: 10px 17px 10px 19px;
  margin-bottom: 21px;

  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.sort-type,
.sort-arrows {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.sort h2 {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.sort-type {
  width: 354px;
  justify-content: flex-start;
}

.sort-type .sort-item {
  margin-left: 40px;
} 

.sorting-button {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-button:hover,
.sorting-button:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-button:active,
.sorting-button.active-sorting {
  color: #ee3643;
  border: 0;
}

.sort-arrows {
  width: 43px;
  margin-left: 46px;
}

.arrow-btn:hover .arrow-icon path,
.arrow-btn:focus .arrow-icon path {
  fill: #231f20;
}

.arrow-btn:active .arrow-icon path,
.arrow-btn-active .arrow-icon path,
.arrow-btn-active:hover .arrow-icon path,
.arrow-btn-active:focus .arrow-icon path {
  fill: #ee3643;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding:0;
  margin-bottom: 32px;

  font-family: "PT Sans", "Arial", sans-serif;
  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 220px;
  min-height: 318px;

  border: 1px solid #e5e5e5;
}

.catalog-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-list li:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-link {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  color: #000000;
}

.catalog-item-title {
  order: 2;

  margin: 10px 30px 15px 30px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.catalog-item-image {
  order: 1;

  width: 218px;
  height: 170px;
  margin: 0;
}

.catalog-item-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-top: auto;
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.catalog-item-price .old-price {
  color: #999999;
  text-decoration: line-through;
}

.catalog-item-price .actual-price {
  width: 141px;
  margin-top: 10px;

  padding: 10px 30px;

  color: #ffffff;
  text-align: center;

  background-image: url("../img/button-price.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 141px 38px;
}

.catalog-item-buttons {
  display: none;
  
  height: 84px;
  margin: 43px;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-image,
.catalog-item:focus .catalog-item-image {
  display: none;
}

.catalog-item:hover .catalog-item-buttons,
.catalog-item:focus .catalog-item-buttons {
  order: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-cart-button {
  position: relative;

  width: 135px;
  margin-bottom: 11px;
  padding: 10px 45px 7px 49px;
  
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: 0px 3px 0 0 #367315;
}

.in-cart-button::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.in-cart-button:hover,
.in-cart-button:focus {
  background-color: #5fbb2d;
}

.in-cart-button:hover::before, 
.in-cart-button:focus::before,
.in-cart-button:active::before {
  opacity: 1;
}

.in-cart-button:active {
  background-color: #518534;
  box-shadow: 0px 3px 0 0 #518534;
}

.in-favorites-button {
  width: 135px;
  padding: 8px 30px;

  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.in-favorites-button:hover,
.in-favorites-button:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.in-favorites-button:active {
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 9px 15px 10px;

  color: #000000;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.category-description {
  width: 100%;
  margin: 0;
  padding: 64px 0 68px;

  font-size: 13px;
  line-height: 24px;

  background-color: #f4f7f9;
}

.category-description .page-title {
  margin-bottom: 29px;
}

.category-description .text {
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;

  width: 620px;

  font-size: 18px;
  line-height: 18px;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-show {
  display: block;
}

.modal-map {
  width: 940px;
  height: 446px;

  border: 0;
}

.modal-container {
  padding: 55px 80px 15px;
}

.modal .modal-buttons-wrapper {
  width: 100%;
  padding: 37px 80px;

  background-color:#f4f4f4;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;
  
  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 21px;
  height: 21px;

  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-close:hover::after,
.modal-close:focus::after {
  opacity: 0.7;
}

.modal-close:active::after {
  opacity: 0.3;
}

.feedback-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-form-item {
  margin: 0;
  margin-bottom: 22px;
}

.feedback-form-item label {
  display: block;
  margin: 0;
  margin-bottom: 9px;
}

.feedback-form-input {
  display: block;
  width: 220px;
  margin: 0;
  padding: 10px;

  font: inherit;
  font-size: 13px;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.feedback-form-input:hover {
  border-color: #b5b5b5;
}

.feedback-form-input:focus,
.feedback-form-input:active {
  outline: none;
  border-color: #ee3643;
}

.feedback-form-message {
  width: 100%;
}

.feedback-form .button {
  width: 100%;
}

.modal-add-to-cart .modal-container {
  padding-bottom: 49px;
}

.modal-add-to-cart .message {
  position: relative;
  margin: 0;
  padding-left: 100px;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.modal-add-to-cart .message::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;

  width: 66px;
  height: 66px;

  background-image: url("../img/modal-add-to-cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-add-to-cart .modal-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-add-to-cart .button {
  width: 220px;
  padding: 11px 35px 9px;
}

.modal-add-to-cart .continue-shopping-btn {
  padding: 10px 35px 8px;

  color: #000000;

  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.continue-shopping-btn:hover,
.continue-shopping-btn:focus {
  color: #ee3643;
  
  outline: none;
  border-color: #bdc6ca;
}

.continue-shopping-btn:active {
  outline: none;
  border-color: #ee3643;
}

.main-footer {
  width: 100%;
  margin-top: 70px;

  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  background-color: #32425c;
}

.inner-page .main-footer {
  margin-top: 0;
}

.footer-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.footer-logo {
  order: 1;
  align-self: flex-start;
  height: 63px;
  padding: 20px 41px 20px 41px;
  margin: 0;
}

.footer-contacts {
  order: 3;
  width: 330px;
  margin: 0;

  color: #f3f7f9;
}

.footer-contacts .phone {
  color: inherit;
}

.footer-navigation,
.footer-sectons-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation {
  order: 2;

  width: 560px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-sectons-list {
  order: 4;
  width: 540px;
}

.footer-navigation a,
.footer-sectons-list a {
  display: block;
  margin-left: 60px;
}

.footer-navigation a { 
  color: #f1f5f7;
}

.footer-navigation li:first-child a,
.footer-sectons-list li:first-child a {
  margin-left: 0;
}

.footer-sectons-list a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-sectons-list a:hover,
.footer-sectons-list a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-sectons-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-copyrights-wrapper {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-copyrights-wrapper .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 35px;
  padding-bottom: 30px;
}

.footer-copyright {
  width: 240px;
  margin: 0;
}

.footer-feedback-link {
  width: 160px;
  margin: 0;
  margin-left: auto;
  margin-right: 30px;
}

.footer-developers {
  width: 110px;
  margin: 0;
}

.footer-feedback-link a,
.footer-developers a {
  color: #ffd180;
}

.footer-feedback-link a:hover,
.footer-feedback-link a:focus,
.footer-developers a:hover,
.footer-developers a:focus {
  text-decoration: underline;
}

.footer-feedback-link a:active,
.footer-developers a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  width: 41px;
  height: 41px;
  margin-right: 4px;

  color: #ffffff;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-button.vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button.fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button.ig{
  background-image: url("../img/icon-ig.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}
