html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  display: none;
}

.main-header {
  width: 100%;
  margin-bottom: 59px;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-functions-wrapper {
  width: 100%;
  height: 42px;
  margin-bottom: 46px;

  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.site-functions-wrapper .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  display: block;
  width: 220px;
  height: 47px;
  padding: 13px 56px 15px 55px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.user-navigation-wrapper {
  display: flex;
  align-items: baseline;
  width: 940px;
  padding-left: 52px;
  margin-bottom: 44px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  padding:0;

  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  order: 3; 
  width: 940px;
  margin: 0;
  padding: 0 25px 0 22px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  list-style: none;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-functions {
  display: flex;
  align-items: baseline;
  flex-grow: 1;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.site-functions a {
  display: block;
  width: 150px;
  padding: 12px 22px 12px 20px;
}

.site-navigation a {
  display: block;
  padding: 22px 30px;
}

.site-navigation a,
.site-functions a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.site-functions a:hover,
.site-functions a:focus {
  background-color: #212a3a;
}

.site-functions a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.site-functions .order-link {
  background-color: #63a63e;
}

.site-functions .order-link:hover,
.site-functions .order-link:focus {
  background-color: #5fbb2d;
}

.site-functions .order-link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.site-search {
  width: 260px;
}

.site-search input {
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.site-search input:hover {
  background-color: #212a3a;
}

.site-search input:focus,
.site-search input:active {
  color: #000000;

  background-color: #ffffff;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.cart-not-empty {
  background-color: #ee3643;
}

.user-navigation .user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation .user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .user-orders-link,
.user-navigation .user-profile-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  background-color: transparent;
}

.user-navigation .user-orders-link:active,
.user-navigation .user-profile-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-header-message {
  width: 200px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.main-header-contacts {
  width: 270px;
  margin: 0 auto;
}

.main-header-contacts .phone {
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.main-header-contacts .address {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 1px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.page-title {
  margin: 0;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  color: #32425c;
}

.subtitle {
  color: #000000;
}

.inner-page .page-title {
  background-color: #f4f7f9;
}

.promo {
  margin-bottom: 53px;
}

.promo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  min-height: 409px;

  list-style: none;
}

.promo-item {
  width: 300px;
  height: 123px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-item:not(:last-child) {
  margin-bottom: 20px;
}

.promo-item.promo-delivery {
  margin-left: auto;
}

.promo-item.slider {
  width: 620px;
}

.promo-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-matherials {
  background-color: #ffbf47;
}

.promo-tools {
  background-color: #3bbce3;
}

.promo-equipment {
  background-color: #dc91d8;
}

.promo-sale {
  background-color: #8ed78f;
}

.promo-delivery {
  background-color: #ffc047;
}

.promo-slider {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slide {
  display: none;
  height: 266px;

  color: #ffffff;
}

.promo-slide h3 {
  margin: 0;
  padding: 0;
  
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.promo-slide p {
  font-size: 18px;
  line-height: 24px;
}

.promo-slide.perforators {
  background-color: #6e6b68;
  background-image: url("../img/slider-perforator.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.promo-slide.drills {
  background-color: #6e6b68;
  background-image: url("../img/slider-drill.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.slide-active {
  display: block;
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.popular-goods {
  margin-bottom: 21px;
}

.popular-goods-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-brands {
  margin-bottom: 65px;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-brands-item {
  width: 220px;
  height: 145px;
  
  border: solid 1px #e5e5e5;
}

.popular-brands-item:not(:nth-child(4n)) {
  margin-right: 20px;
  margin-bottom: 20px;

}

.popular-brands-item:hover,
.popular-brands-item:focus {
  border: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active img {
  opacity: 0.3;
}

.services {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 51px;

  background-color: #f4f7f9;
}

.services-slider {
  display: flex;
  justify-content: space-between;
}

.services .slider-buttons,
.services .slides-list {
  margin: 0;
  padding:0;

  list-style: none;
}

.services-slider .slider-button {
  width: 240px;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
}

.services-slider .slides-list {
  width: 620px;
}

.services-slider .slider-button:hover,
.services-slider .slider-button:focus {
  background-color: #293449;
}

.services-slider .slider-button:active,
.services-slider .slider-button-active,
.services-slider .slider-button-active:hover,
.services-slider .slider-button-active:focus {
  color: #32425c;

  background-color: #ffffff;
}

.services-slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.services-description,
.services-slide p {
  font-family: "PT Sans", "Arial", sans-serif;
}

.services-slide {
  display: none;
}

.services-slide.slide-active {
  display: block;
}

.services-slide.delivery {
  background-image: url("../img/services-delivery.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-slide.guarantee {
  background-image: url("../img/services-guarantee.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-slide.credit {
  background-image: url("../img/services-credit.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 13px;
}

.about-us {
  width: 540px;
}

.contacts {
  width: 300px;
}

.index-columns p {
  font-family: "PT Sans", "Arial", sans-serif;
}

.index-columns h2 {
  margin: 0;
  padding: 0;
}

.about-us .transport-companies {
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ee3643;
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3)
}

.breadcrumbs .breadcrumbs-current:hover,
.breadcrumbs .breadcrumbs-current:focus,
.breadcrumbs .breadcrumbs-current:active {
  color: #000000;
}

.catalog-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-filter h2,
.sort h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.price-range,
.price-range-value .filter-input {
  background-color: #f7f3ec;
}

.price-range-value .filter-input {
  font-size: 17px;
  line-height: 18px;
  border: none;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.filter-button:hover,
.filter-button:focus {
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
}

.sort {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.sort-type,
.sort-value {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.sort-type a,
.sort-value a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-type a:hover,
.sort-type a:focus,
.sort-value a:hover,
.sort-value a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-type a:active,
.sort .sort-active,
.sort-value a:active {
  color: #ee3643;
  border: none;
}

.sort .sort-active:hover,
.sort .sort-active:focus,
.sort .sort-active:active {
  color: #ee3643;
  border: none;
}

.catalog-list {
  font-family: "PT Sans", "Arial", sans-serif;
  list-style: none;
}

.catalog-item {
  width: 220px;
  height: 318px;

  border: 1px solid #e5e5e5;
}

.catalog-item a {
  color: #000000;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.catalog-item-price .old-price {
  color: #999999;
  text-decoration: line-through;
}

.catalog-item-price .actual-price {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-item-buttons {
  display: none;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-image,
.catalog-item:focus .catalog-item-image {
  display: none;
}

.catalog-item:hover .catalog-item-buttons,
.catalog-item:focus .catalog-item-buttons {
  display: block;
}

.in-cart-button {
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.in-cart-button:hover,
.in-cart-button:focus {
  background-color: #5fbb2d;
}

.in-cart-button:active {
  background-color: #518534;
  box-shadow: none;
}

.in-favorites-button {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.in-favorites-button:hover,
.in-favorites-button:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.in-favorites-button:active {
  opacity: 0.3;
}

.pagination-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.pagination-item a {
  color: #000000;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.category-description {
  font-size: 13px;
  line-height: 24px;

  background-color: #f4f7f9;
}

.main-footer {
  margin-top: 70px;

  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  background-color: #32425c;
}

.footer-navigation-wrapper {
  width: 100%;
}

.footer-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-bottom: 53px;
}

.footer-logo {
  order: 1;
  height: 68px;
  padding: 20px 41px 25px 41px;
  margin: 0;
}

.footer-logo img {
  margin: auto;
}


.footer-contacts {
  order: 3;
  width: 330px;
  margin: 0;
  margin-top: 30px;

  color: #f3f7f9;
}

.footer-navigation,
.footer-sectons-list,
.footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation {
  order: 2;
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.footer-sectons-list {
  order: 4;
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.footer-navigation a {
  color: #f1f5f7;
}

.footer-sectons-list a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-sectons-list a:hover,
.footer-sectons-list a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-sectons-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-copyrights-wrapper {
  width: 100%;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-copyrights-wrapper .container {
  display: flex;
  align-items: center;
  padding: 35px 0 30px 0;
}

.footer-copyright {
  width: 230px;
  margin: 0;
  margin-right: 150px;
}

.footer-feedback-link {
  width: 160px;
  margin: 0;
  margin-left: auto;
}

.footer-developers {
  width: 130px;
  margin: 0;
  margin-left: 30px;
}

.footer-feedback-link a,
.footer-developers a {
  color: #ffd180;
}

.footer-feedback-link a:hover,
.footer-feedback-link a:focus,
.footer-developers a:hover,
.footer-developers a:focus {
  text-decoration: underline;
}

.footer-feedback-link a:active,
.footer-developers a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  color: #ffffff;
}
